*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    width:100%;
    height: 100%;
    position:relative;

}

.container img{
    width:100%;
    height:500px;

    
}

.container .text{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    right:4%;
    font-weight: bolder;
    font-size:30px;

}
.container .text2{
    position:absolute;
    top:30%;
    width:100%;
    text-align: center;
    color: white;
    right:0%;
    font-weight: 300;
    font-size:18px;

}

