{% extends "base.html" %}


{% block content %}
{% include 'Navbar.html' %}
<div class="main-content">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
       {% endif %}
{% if user.is_authenticated %}
<h1>You're Already Logged In!</h1>
{% else %}
<div class="col-md-6 offset-md-3 " style="margin-top:75px">
 



 <h1>Login</h1>
 <br>

<form action="{% url 'user_login' %}" method="POST">
  {% csrf_token %}

   <div class="mb-3">

  <input type="email" class="form-control" name="email" placeholder="Email" required>
   </div><br>
   <div class="mb-3">
     <input type="password" class="form-control" name="password", placeholder="Password" required>
   </div><br>

   <button type="submit" class="btn btn-secondary">Login</button>
 </form>
 <a href="{% url 'signup' %}">Create an account</a>

 


</div>
{% endif %}

{% endblock  %}

